body {
  margin: 0;
  /*바디 컬러*/
  background: #fafafa;
}

.navagation_div {
  display: block;
  position: relative;
  height: 80px;
}

/*
#####################################################################################################
헤더
#####################################################################################################
*/

.header {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.header__profile {
  display: block;
  position: relative;
  height: 300px;

  text-align: center;
}

.header__profile-profileimg {
  float: left;
  top: 10px;
  left: 20rem;
  position: absolute;
  border-radius: 50%;
  border: 4px solid #ff7ecc;
  overflow: hidden;
}

.header__profile-description {
  box-sizing: content-box;
  position: absolute;
  height: 100%;
  width: 50%;
  float: none;

  left: 50%;
  font-size: 16px;
}

.header__profile-description h1 {
  font-size: 3rem;
  position: absolute;
  left: 10%;
  top: 10%;
  font-weight: lighter;
}

.header__profile-description span {
  font-size: 1.2rem;
  position: absolute;
  top: 40%;
  left: 10%;
}

.header__profile-description p {
  position: absolute;
  left: 10%;
  bottom: 15%;
  text-align: left;
}
/**
.header__link {
  margin: 0;
  display: flex;
  position: relative;
  height: 150px;
  align-items: center;

  border: pink solid 1px;
}

.header__link-container {
  position: relative;
  left: 200px;
  width: 200px;
  height: 150px;
  background-color: gainsboro;
  width: 730px;
}
**/
/*
#####################################################################################################
카테고리
#####################################################################################################
*/

.category {
  margin: 0;
  display: block;
  position: relative;
  height: 30px;
  align-items: center;
  text-align: center;
}

.category > hr {
  margin-top: 5px;
  margin-bottom: 0px;
  height: 1px;
  background-color: gainsboro;
  width: 730px;
}

.category__info {
  position: relative;
  display: inline-block;
  top: -2px;
  margin-top: 0px;
  padding: 0px;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.category__map {
  position: relative;
  display: inline-block;
  top: -2px;
  margin-top: 0px;
  padding: 0px;
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.category a {
  color: black;
  text-decoration-line: none;
}

.category a:link {
  color: black;
  text-decoration: none;
}

.category a:visited {
  color: black;
  text-decoration: none;
}

.category a:hover {
  color: pink;
}

.category a:active {
  color: red;
}

/*
#####################################################################################################
피드, 맵
#####################################################################################################
*/

.main {
  width: 800px;
  position: relative;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 40px;
  overflow: hidden;
}

.feed {
  overflow: hidden;
  width: 100%;
  height: 220px;
}

.feed__explain {
  position: absolute;
  width: 640px;
  font-size: 14px;
  color: white;
  text-align: center;
  margin-top: 45px;
  margin-left: 45px;
  padding-top: 5px;
  z-index: 5;
  opacity: 0;
}

.feed__explain p {
  font-weight: bolder;
  font-size: larger;
}

.feed__item-container {
  width: 100%;
  padding: 0px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feed__item-container img {
  width: 100%;
  height: 100%;
}
.item {
  height: 240px;
  width: 240px;
  background-color: grey;
  margin-top: 20px;
  justify-content: space-evenly;
}

.feed:hover .feed__item-container {
  transition: transform 1s;
  filter: brightness(70%);
}
.feed:hover .feed__explain {
  opacity: 1;
}

.map-container {
  display: flex;
  justify-content: center;
  border: solid gainsboro 2px;
}

#map {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
#####################################################################################################
풋터
#####################################################################################################
*/

.footer {
  margin: 0;
  position: relative;
  height: 70px;
  background-color: rgb(250, 250, 250);
  text-align: center;
}
