.header__profile-description button {
  font-size: 20px;
  background-color: #c94c9b;
  border-radius: 10px 10px 10px 10px;
  border: none;
  color: white;
  position: absolute;
  left: 50%;
  top: 82px;
}

.h1 {
  margin: 20px;
  left: 7%;
  margin: 10px;
}
